app-decode {
  [hidden] {
    visibility: hidden;
    height: 0;
  }

  .mat-icon.camera {
    margin-left: 10px;
  }

  .result {
    width: 100%;
    text-align: center;

    &__decoded {
      font-size: 1.5em;
      margin: 20px 0 !important;
      word-wrap: break-word;
      overflow-wrap: anywhere;
    }

    &-controls {
      text-align: center;

      > button {
        margin: 10px;
      }
    }
  }

  .results-card {
    outline: 2px solid black;
  }
}
