<form [formGroup]="form" *ngIf="vm$ | async as vm">
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step
      [completed]="vm.passPhaseConfirmed"
      [optional]="false"
      [hasError]="form.hasError('decryptionFailed')"
      label="Encryption pass phase">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Encryption pass phase</mat-label>
        <input
          matInput
          [type]="vm.showPassPhase ? 'text' : 'password'"
          formControlName="passPhase"
          autocomplete="new-password" />
        <mat-icon matSuffix (click)="onTogglePassPhase(!vm.showPassPhase)">{{
          vm.showPassPhase ? 'visibility' : 'visibility_off'
        }}</mat-icon>
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        (click)="onPassPhaseOk()"
        [disabled]="!passPhase.value || vm.passPhaseConfirmed">
        OK
      </button>
    </mat-step>
    <mat-step
      #step2
      [completed]="!!vm.decrypted"
      [editable]="vm.passPhaseConfirmed"
      [hasError]="
        encoded.hasError('invalid') ||
        encoded.hasError('invalidFormat') ||
        (vm.decryptionAttempted && !vm.decryptionSuccess)
      "
      label="Enter encrypted text or scan QR code">
      <div id="reader" width="600px" #readerElm></div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Text to decrypt</mat-label>
        <textarea matInput formControlName="encoded" #encodedInput></textarea>
        <mat-icon class="camera" matSuffix (click)="toggleReader()">camera_alt</mat-icon>
        <mat-error *ngIf="encoded.hasError('invalid')"> Unable to recognize encrypted text </mat-error>
        <mat-error *ngIf="encoded.hasError('invalidFormat')"> Unable to identify encoding format </mat-error>
      </mat-form-field>
    </mat-step>
  </mat-stepper>

  <div id="section-to-print">
    <mat-card
      class="results-card"
      *ngIf="vm.decryptionAttempted"
      matBadge="3"
      matBadgePosition="before"
      matBadgeSize="large">
      <mat-card-content class="result">
        <mat-error *ngIf="!vm.decryptionSuccess"> Decryption Failed. Check pass phase and encrypted text </mat-error>
        <div class="result__decoded" #decodedElm>{{ vm.decrypted }}</div>
      </mat-card-content>
      <mat-card-actions class="result-controls no-print" *ngIf="vm.decryptionSuccess">
        <button mat-raised-button [cdkCopyToClipboard]="vm.decrypted">Copy text to clipboard</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
