app-instructions {
  display: block;
  padding-bottom: 20px;

  .app-instructions {
    &__steps {
      display: flex;
      gap: 10px;
      margin: 0 auto 10px auto;

      > * {
        flex: 0 0 33%;
      }

      mat-card-content {
        padding-top: 10px;
      }

      mat-card-title {
        display: block;
        text-align: center;
        width: 100%;
      }

      .step-tag {
        display: inline-block;
        color: #fff;
        background: #3f51b5;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        text-align: center;
        font-size: 21px;
        line-height: 28px;
      }

      .mat-card-header-text {
        width: 100%;
      }
    }

    &__headline {
      padding-top: 30px;
      text-align: center;
    }

    &__faq {
      .mat-expansion-panel-header-title {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  app-instructions .app-instructions__steps {
    flex-wrap: wrap;
    > * {
      flex: 0 0 100%;
    }
  }
}
