<form [formGroup]="form">

  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Encryption pass phase
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width main-password" appearance="fill">
        <mat-label>Pass phase</mat-label>
        <input matInput type="password" formControlName="password" />
        <password-strength-meter [password]="password.value" [minPasswordLength]="0" [enableFeedback]="false"></password-strength-meter>
        <mat-hint *ngIf="!password.value">Enter an pass phase</mat-hint>
        <mat-hint *ngIf="password.value">
          Pass phase is {{ passwordStrength }}.
          <ng-container *ngIf="feedback">
            <span class="password-feedback" *ngIf="feedback.warning">
              {{feedback.warning}}
            </span>
            <span class="password-suggetion" *ngIf="feedback.suggestions && feedback.suggestions.length > 0">
              <ng-container *ngFor="let suggestion of feedback.suggestions"> {{suggestion}} </ng-container>
            </span>
          </ng-container>
        </mat-hint>
      </mat-form-field>
      <div>
        &nbsp;
      </div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirm Pass phase</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-hint>Confirm pass phase</mat-hint>
        <mat-error
          *ngIf="confirmPassword.hasError('notConfirmed')">
          Password is not the same
        </mat-error>
      </mat-form-field>
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="passwordComplete" [disabled]="!passwordComplete">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Text to encrypt
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Text to encrypt</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-hint>Enter text to encrypt</mat-hint>
      </mat-form-field>

      <div *ngIf="error" class="result-error">
        Error: {{ error }}
      </div>

      <div *ngIf="encrypted">
        <div class="result-container">
          <div class="result-container__qr">
            <div>
              <mat-checkbox formControlName="includeUrl">Include URL in QR code</mat-checkbox>
            </div>
            <div (click)="copyImage()">
              <img [attr.src]="encryptedSvg" [attr.alt]="encrypted" matRipple />
            </div>
          </div>
          <div class="result-container__code">
            {{ encryptedText }}
          </div>
        </div>
        <div class="result-controls">
          <button mat-raised-button (click)="copyImage()">
            Copy QRCode to clipboard
          </button>
          <button mat-raised-button [cdkCopyToClipboard]="encryptedText">
            Copy code to clipboard
          </button>
          <button mat-raised-button (click)="downloadImage()">
            Download QR Code
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card class="example-card" *ngIf="message.value">
    <mat-card-content>
      <p>The encryption process is the same as the <a href="https://wiki.openssl.org/index.php/Enc">OpenSSL ENC command</a>:</p>
      <code>echo -n "{{message.value}}" | openssl enc -e -aes-256-cbc - -base64 -pbkdf2</code>
    </mat-card-content>
  </mat-card>
</form>