<form [formGroup]="form" *ngIf="vm$ | async as vm">
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step
      [completed]="vm.passPhaseVerified"
      [optional]="false"
      label="Encryption pass phase"
      state="phone">
      <mat-form-field class="full-width main-password" appearance="fill">
        <mat-label>Encryption pass phase</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="new-password" />
        <password-strength-meter
          [password]="password.value"
          [minPasswordLength]="0"
          [enableFeedback]="false"></password-strength-meter>
        <mat-hint>
          {{ vm.passPhaseHint }}
          <mat-icon *ngIf="vm.passPhaseSuggestions as tips" [matTooltip]="tips"
            >info</mat-icon
          >
        </mat-hint>
      </mat-form-field>
      <div>&nbsp;</div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirm Pass phase</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password" />
        <mat-hint>Confirm encryption pass phase</mat-hint>
        <mat-error *ngIf="confirmPassword.hasError('notConfirmed')">
          Pass phase is not the same
        </mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step
      #step2
      [completed]="!!vm.encryptedText"
      [hasError]="!!vm.encodingErrorMessage"
      [errorMessage]="vm.encodingErrorMessage"
      [editable]="vm.passPhaseVerified"
      label="Text to encrypt">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Text to encrypt</mat-label>
        <textarea
          matInput
          rows="4"
          formControlName="message"
          [maxLength]="maxLength"
          #messageInput></textarea>
        <mat-hint>Enter text to encrypt</mat-hint>
        <mat-hint align="end"
          >{{ messageInput.value?.length || 0 }}/{{ maxLength }}</mat-hint
        >
      </mat-form-field>
    </mat-step>
  </mat-stepper>

  <mat-card
    class="results-card"
    *ngIf="vm.encryptedText"
    matBadge="3"
    matBadgePosition="before"
    matBadgeSize="large">
    <mat-card-content class="result-container">
      <div class="result-container__qr" *ngIf="vm.qrContent">
        <div (click)="copyImage()">
          <qrcode
            (click)="copyImage()"
            [allowEmptyString]="true"
            [qrdata]="vm.qrContent"
            [width]="256"
            errorCorrectionLevel="H"
            elementType="img"></qrcode>
        </div>
        <div>
          <mat-checkbox formControlName="includeUrl"
            >Include URL in QR code</mat-checkbox
          >
        </div>
      </div>
      <div class="result-container__code">
        {{ vm.encryptedText }}
      </div>
    </mat-card-content>
    <mat-card-actions class="result-controls">
      <button mat-raised-button (click)="copyImage()">
        Copy QRCode to clipboard
      </button>
      <button mat-raised-button [cdkCopyToClipboard]="vm.encryptedText">
        Copy code to clipboard
      </button>
      <button mat-raised-button (click)="downloadImage()">
        Download QR Code
      </button>
    </mat-card-actions>
  </mat-card>
</form>
