.qr {
  text-align: center;
}

.result {
  width: 100%;
  text-align: center;

  .code {
    overflow-wrap: break-word;
    max-width: 90%;
    margin: 10px auto;
  }
}

.error {
  color: red;
  font-weight: bold;
}

.password-meter {
  display: block;
  margin-bottom: 20px;
}
