app-encode {
  .result-container {
    width: 100%;
    display: flex;
    margin: 10px auto;

    > * {
      flex: 0 0 50%;
      margin: 0;
      padding: 0;
    }

    &__qr {
      text-align: center;
    }

    &__code {
      padding: 40px;
      font-family: monospace, monospace;
      padding: 40px 20px;
      box-sizing: border-box;
    }
  }
  
  .result-error {
    width: 1 1 100%;
    margin: 20px auto;
    color: red;
    text-align: center;
  }

  .result-controls {
    text-align: center;

    > button {
      margin: 10px;
    }
  }


  .main-password {
    password-strength-meter {
      position: absolute;
      bottom: -1px;
      left: -10px;
      right: -10px;
  
      .strength-meter {
        margin: 0 !important;
      }
    }

    .mat-form-field-underline {
      display: none !important;
    }
  }
}

@media (max-width: 768px) {
  app-encode {
    .result-container {
      flex-wrap: wrap;
      > * {
        flex: 0 0 100%;
      }
      &__code {
        text-align: center;
      }
    }
  }
}