app-encode {
  .result-container {
    width: 100%;
    display: flex;
    margin: 10px auto;
    align-items: flex-start;

    > * {
      flex: 0 0 50%;
      margin: 0;
      padding: 0;
    }

    &__qr {
      text-align: center;

      img {
        margin: auto;
      }
    }

    &__code {
      font-family: monospace, monospace;
      box-sizing: border-box;
      background-image: repeating-linear-gradient(to bottom, white, white 1.5em, #e3e3e3 1.5em, #e3e3e3 3em);
      line-height: 1.5em;
      padding: 0 1em;
      text-align: justify;
    }
  }

  .result-error {
    width: 1 1 100%;
    margin: 20px auto;
    color: red;
    text-align: center;
  }

  .result-controls {
    text-align: center;
    justify-content: center;

    > button {
      margin-top: 10px !important;
    }
  }

  .main-password {
    password-strength-meter {
      position: absolute;
      bottom: 0px;
      left: -16px;
      right: -16px;

      .strength-meter {
        margin: 0 !important;
      }
    }

    .mdc-line-ripple {
      display: none !important;
    }

    .psm__progress-bar {
      margin: 0;
    }
  }

  .results-card {
    outline: 2px solid black;
  }
}

@media (max-width: 768px) {
  app-encode {
    .result-container {
      flex-wrap: wrap;
      > * {
        flex: 0 0 100%;
      }
      &__code {
        text-align: center;
      }
    }
  }
}
