<form [formGroup]="form">
  <mat-stepper orientation="vertical" [linear]="true">
    <mat-step
      [completed]="passPhaseComplete$ | async"
      [optional]="false"
      label="Encryption pass phase"
      state="phone">
      <mat-form-field class="full-width main-password" appearance="fill">
        <mat-label>Encryption pass phase</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="new-password" />
        <password-strength-meter
          [password]="password.value"
          [minPasswordLength]="0"
          [enableFeedback]="false"></password-strength-meter>
        <mat-hint>
          {{ passwordHint$ | async }}
          <mat-icon
            *ngIf="passPhaseSuggestions$ | async as tips"
            [matTooltip]="tips"
            >info</mat-icon
          >
        </mat-hint>
      </mat-form-field>
      <div>&nbsp;</div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirm Pass phase</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          autocomplete="new-password" />
        <mat-hint>Confirm encryption pass phase</mat-hint>
        <mat-error *ngIf="confirmPassword.hasError('notConfirmed')">
          Pass phase is not the same
        </mat-error>
      </mat-form-field>
    </mat-step>
    <mat-step
      #step2
      [completed]="!!encrypted"
      [hasError]="!!encodingErrorMessage"
      [errorMessage]="encodingErrorMessage"
      [editable]="passPhaseComplete$ | async"
      label="Text to encrypt">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Text to encrypt</mat-label>
        <textarea
          matInput
          rows="4"
          formControlName="message"
          [maxLength]="maxLength"
          #messageInput></textarea>
        <mat-hint>Enter text to encrypt</mat-hint>
        <mat-hint align="end"
          >{{ messageInput.value?.length || 0 }}/{{ maxLength }}</mat-hint
        >
      </mat-form-field>
    </mat-step>
  </mat-stepper>

  <mat-card
    class="results-card"
    *ngIf="encrypted"
    matBadge="3"
    matBadgePosition="before"
    matBadgeSize="large">
    <mat-card-content class="result-container">
      <div class="result-container__qr">
        <div (click)="copyImage()">
          <img [attr.src]="encryptedSvg" [attr.alt]="encrypted" matRipple />
        </div>
        <div>
          <mat-checkbox formControlName="includeUrl"
            >Include URL in QR code</mat-checkbox
          >
        </div>
      </div>
      <div class="result-container__code">
        {{ encryptedText }}
      </div>
    </mat-card-content>
    <mat-card-actions class="result-controls">
      <button mat-raised-button (click)="copyImage()">
        Copy QRCode to clipboard
      </button>
      <button mat-raised-button [cdkCopyToClipboard]="encryptedText">
        Copy code to clipboard
      </button>
      <button mat-raised-button (click)="downloadImage()">
        Download QR Code
      </button>
    </mat-card-actions>
  </mat-card>
</form>
